.login{
    position: relative;
    width: 100%;
    height: 1000px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.281),rgba(255, 255, 255, 0.205)),url(https://res.cloudinary.com/dkrnap1pq/image/upload/v1726967247/banner2_mpdh7k.jpg);
    background-position: center;
    background-size: cover;
}
.loginCont{
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
    font-style: normal;
    width: 540px;
    height: 550px;
    padding: 40px;
    position: absolute;
    background-color: rgba(236, 236, 236, 0.89);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.loginCont h1{
    padding-bottom: 30px;
}
.loginCont form{
    margin-top: 50px;
}