
.register{
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
    font-style: normal;
    position: relative;
    width: 100%;
    height: 1000px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.281),rgba(255, 255, 255, 0.205)),url(https://res.cloudinary.com/dkrnap1pq/image/upload/v1726967247/banner2_mpdh7k.jpg);
    background-position: center;
    background-size: cover;
}
.registerCont{
    width: 540px;
    height: 750px;
    padding: 40px;
    position: absolute;
    background-color: rgba(236, 236, 236, 0.89);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.registerCont h1, .userDataCont h1{
    padding: 30px 0 0 0;
}
.inputCont{
    position: relative;
    margin-top: 20px;
}
.registerCont form{
    margin-top: 50px;
}
.inputCont label{
    display: inline-block;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.747);
}
.inputCont input{
    display: inline-block;
    width: 100%;
    height: 40px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.342);
    border-radius: 2px;
    padding: 0 10px;
    font-size: 16px;
}
.inputCont p{
    position: absolute;
    top: 50px;
    left: 10px;
    padding: 0 4px;
    background-color: white;
    color: #FF4F3D;
    border-radius: 5px;
    text-transform: capitalize;
}
.loginCont button{
    width: 100%;
    background-color: black;
    color: white;
    height: 40px;
    margin-top: 50px;
    outline: none;
    border: 0;
    border-radius: 2px;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
form .loginLink span{
    text-decoration: underline;
    color: rgb(59, 59, 255);
    margin-left: 10px;
}
.userDataCont{
    width: 540px;
    height: 650px;
    padding: 40px;
    position: absolute;
    background-color: rgba(236, 236, 236, 0.89);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.radioBtn input{
    width: 20px;
    margin-right: 10px;
}
.radibtnCont{
    display: flex;
    align-items: center;
}
.radioBtn p{
    position: unset;
    color: rgba(0, 0, 0, 0.747);
    background-color: transparent;
    padding: 5px 0;
}
button{
    cursor: pointer;
}
.radioErrorPara{
    color: rgba(187, 10, 10, 0.596);
}
.regPgBtn{
    background-color: black;
    color: white;
    width: 100%;
    display: inline-block;
    margin-top: 20px;
    height: 40px;
    text-transform: capitalize;
    font-size: 20px;
}